.blog-details h2 {
  font-size: 20px;
  color: #e9a81b;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}

.blog-details i {
  font-size: small;
}

.blog-details button {
  background: #e9a81b;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
