nav {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
nav h1 {
  color: #e9a81b;
}
nav .links {
  margin-left: auto;
}
nav a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
nav a:hover {
  color: #e9a81b;
}
